@using BoilerPlate.Web.Models.Product
@model EditProductViewModel
@using BoilerPlate.Web.Models.Common.Modals;
@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProduct")))

<form name="ProductEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.Product.Id" />

    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Name">@L("ProductName")</label>
            <div class="col-md-9">
                <input id="Name" class="form-control" type="text" name="ProductName" value="@Model.Product.ProductName" required maxlength="32" minlength="2">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="Description">@L("Description")</label>
            <div class="col-md-9">
                <input id="Description" type="text" class="form-control" name="Description" value="@Model.Product.Description" required maxlength="32" minlength="2">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="Price">@L("Price")</label>
            <div class="col-md-9">
                <textarea id="Price" class="form-control" name="Price">@Model.Product.Price</textarea>
            </div>
        </div>
        <div>
            <input id="CreaateDate" type="hidden" name="CreateDate" value="@Model.Product.CreatedDate" />
        </div>
       
    </div>

    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Product/_EditModal.js" asp-append-version="true"></script>
